---
interface Props {
  readonly title: string
  readonly gradient: string
}

const { title, gradient } = Astro.props
---

<a
  class:list={[
    'transform hover:scale-[1.01] transition-all',
    'rounded-xl w-full bg-gradient-to-r p-1',
    gradient
  ]}
>
  <div
    class='flex flex-col justify-between h-full bg-white dark:bg-gray-900 rounded-lg p-4'
  >
    <div class='flex flex-col md:flex-row justify-between'>
      <h4
        class='text-lg md:text-lg font-medium mb-6 sm:mb-10 w-full text-gray-900 dark:text-gray-100 tracking-tight'
      >
        {title}
      </h4>
    </div>
    <div class='flex items-center gap-6'><slot /></div>
  </div>
</a>
