---
import Layout from '../layouts/Layout.astro'
---

<Layout title='404 – Alexander Saavedra'>
  <div class='mx-auto mb-16 flex max-w-2xl flex-col items-start justify-center'>
    <h1 class='mb-4 text-3xl font-bold tracking-tight md:text-5xl'>
      451 – No disponible
    </h1>
    <p class='mb-8 text-muted-foreground'>
      Parece que has escontrado algo que solía existir o escribiste algo
      incorrecto. Puede que hayas escrito algo mal. ¿Puedes comprobar la URL?
    </p>
    <a
      href='/'
      class='mx-auto w-64 rounded-md bg-gray-200/80 p-1 text-center font-bold hover:bg-gray-200 dark:bg-gray-800/80 dark:hover:bg-gray-800 sm:p-4'
    >
      Volver a Inicio
    </a>
  </div>
</Layout>
