---
import Layout from '../layouts/Layout.astro'
---

<Layout title='404 – Alexander Saavedra'>
  <div class='flex flex-col justify-center items-start max-w-2xl mx-auto mb-16'>
    <h1
      class='font-bold text-3xl md:text-5xl tracking-tight mb-4 text-black dark:text-white'
    >
      451 – No disponible
    </h1>
    <p class='text-gray-600 dark:text-gray-400 mb-8'>
      Parece que has escontrado algo que solía existir o escribiste algo
      incorrecto. Puede que hayas escrito algo mal. ¿Puedes comprobar la URL?
    </p>
    <a
      href='/'
      class='p-1 sm:p-4 w-64 font-bold mx-auto bg-gray-200 dark:bg-gray-800 text-center rounded-md text-black dark:text-white'
    >
      Volver a Inicio
    </a>
  </div>
</Layout>
