---
import { Image } from 'astro:assets'
import Skills from '../components/Skills.astro'
import Layout from '../layouts/Layout.astro'
import ExternalLink from '../components/ExternalLink.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import TwitterIcon from '../components/icons/Twitter.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import MailIcon from '../components/icons/Mail.astro'
import Avatar from '../assets/avatar.png'
import GithubRepos from '../components/github/GithubRepos.astro'
import Section from '../components/Section.astro'
import Education from '../components/Education.astro'
import Experience from '../components/Experience.astro'
---

<Layout>
  <section class='flex items-center justify-between'>
    <div class='flex-1 space-y-1.5'>
      <h1 class='text-2xl font-bold'>Alexander Saavedra</h1>
      <p class='max-w-md text-pretty font-mono text-sm text-muted-foreground'>
        Front-end Engineer en
        <ExternalLink href='https://lookiero.es/'>
          <span class='font-semibold'>Lookiero</span>
        </ExternalLink>
      </p>
      <div
        class='flex items-center gap-x-3 pt-1 font-mono text-sm text-muted-foreground'
      >
        <ExternalLink
          href='mailto:mralexsaavedra@gmail.com'
          label='Escríbeme un mail'
        >
          <MailIcon class='size-6' />
        </ExternalLink>
        <ExternalLink
          href='https://github.com/mralexsaavedra'
          label='Sígueme en GitHub'
        >
          <GitHubIcon class='size-6' />
        </ExternalLink>
        <ExternalLink
          href='https://twitter.com/mralexsaavedra'
          label='Sígueme en Twitter'
        >
          <TwitterIcon class='size-6' />
        </ExternalLink>
        <ExternalLink
          href='https://www.linkedin.com/in/mralexsaavedra'
          label='Sígueme en LinkedIn'
        >
          <LinkedInIcon class='size-6' />
        </ExternalLink>
      </div>
    </div>

    <span
      class='relative flex shrink-0 overflow-hidden rounded-3xl size-28 bg-slate-600'
    >
      <Image
        alt='Alexander Saavedra'
        src={Avatar}
        class='aspect-square size-full object-cover'
      />
    </span>
  </section>

  <Section title='Sobre mí' id='about'>
    <p class='text-pretty font-mono text-sm text-muted-foreground'>
      Especializado en el ecosistema de JavaScript. Amante de las buenas
      prácticas y del software de calidad.
    </p>
  </Section>

  <Experience />
  <Education />
  <Skills />
  <Section title='Proyectos' id='projects'>
    <GithubRepos />
    <div class='flex justify-end px-2'>
      <ExternalLink
        href='https://github.com/mralexsaavedra?tab=repositories'
        class='font-mono text-sm underline'
      >
        Ver más
      </ExternalLink>
    </div>
  </Section>
</Layout>
