---
interface Props {
  readonly href: string
  readonly class?: string
  readonly label?: string
}

const { href, class: className, label } = Astro.props
---

<a
  class:list={[
    'text-secondary-foreground transition hover:text-muted-foreground',
    className
  ]}
  target='_blank'
  rel='noopener noreferrer'
  href={href}
  aria-label={label}
>
  <slot />
</a>
