---
interface Props {
  readonly href: string
  readonly class?: string
}

const { href, class: className } = Astro.props
---

<a
  class:list={[
    'text-secondary-foreground hover:text-muted-foreground transition',
    className
  ]}
  target='_blank'
  rel='noopener noreferrer'
  href={href}
>
  <slot />
</a>
