---
import Badge from './Badge.astro'
import ExternalLink from './ExternalLink.astro'
import NavLink from './NavLink.astro'

const params = new URLSearchParams({
  url: 'https://mralexsaavedra.dev',
  text: 'Me encanta tu web 🥰'
})

const twitterUrl = `https://twitter.com/share?${params}`
---

<footer
  class='flex flex-col justify-center items-start max-w-2xl mx-auto w-full mb-8'
>
  <hr class='w-full border-1 mb-8' />
  <div
    class='w-full max-w-2xl grid grid-cols-2 gap-4 pb-16 sm:grid-cols-3 font-mono text-sm'
  >
    <div class='flex flex-col space-y-4'>
      <NavLink
        class='text-secondary-foreground hover:text-muted-foreground transition'
      />
    </div>
    <div class='flex flex-col space-y-4'>
      <ExternalLink href='mailto:mralexsaavedra@gmail.com'>
        Contáctame
      </ExternalLink>
      <ExternalLink href='https://github.com/mralexsaavedra'>
        GitHub
      </ExternalLink>
      <ExternalLink href='https://twitter.com/mralexsaavedra'>
        Twitter
      </ExternalLink>
      <ExternalLink href='https://www.linkedin.com/in/mralexsaavedra'>
        LinkedIn
      </ExternalLink>
    </div>
    <div class='flex flex-col space-y-4'>
      <a href='/uses'>Usos</a>
      <ExternalLink
        href='https://github.com/mralexsaavedra/mralexsaavedra.dev/discussions'
      >
        Feedback
      </ExternalLink>
      <ExternalLink href={twitterUrl}>Compártelo en Twitter</ExternalLink>
    </div>
  </div>

  <Badge class='w-full justify-center'>
    Hecho con Astro y Tailwind. Desplegado en Vercel.
  </Badge>
</footer>
