---
import ThemeToggle from './ThemeToggle.astro'
import NavLink from './NavLink.astro'
---

<div class='flex justify-between py-8'>
  <div class='flex flex-wrap items-center gap-x-4'>
    <NavLink />
  </div>

  <ThemeToggle />
</div>
