---
import MobileMenu from './MobileMenu.astro'
import NavLink from './NavLink.astro'
import ThemeToggle from './ThemeToggle.astro'
---

<div class='flex flex-col justify-center px-8'>
  <nav
    class='flex items-center justify-between w-full relative max-w-2xl border-gray-200 dark:border-gray-700 mx-auto pt-8 pb-8 sm:pb-16 text-gray-900 bg-gray-50 dark:bg-gray-900 bg-opacity-60 dark:text-gray-100'
  >
    <a href='#skip' class='skip-nav'> Ir al contenido</a>
    <div class='ml-[-0.60rem]'>
      <!-- <MobileMenu /> -->
      <NavLink to='/' label='Inicio' />
      <NavLink to='/about' label='Sobre mí' />
    </div>
    <ThemeToggle />
  </nav>
</div>
