---
interface Skill {
  readonly title: string
}

const SKILLS: Skill[] = [
  { title: 'HTML' },
  { title: 'CSS' },
  { title: 'JavaScript' },
  { title: 'TypeScript' },
  { title: 'React' },
  { title: 'Next.js' },
  { title: 'Node' },
  { title: 'Tailwind' },
  { title: 'GraphQL' },
  { title: 'Jest' },
  { title: 'Cypress' },
  { title: 'Astro' },
  { title: 'Expo' }
]
---

<ul class='flex flex-wrap gap-2'>
  {
    SKILLS.map(({ title }) => (
      <li class='text-sm text-muted-foreground hover:text-foreground transition-colors duration-200 cursor-default'>
        {title}
      </li>
    ))
  }
</ul>
