---
import Layout from './Layout.astro'
---

<Layout title='Uses – Alexander Saavedra' description='Mi espacio de trabajo.'>
  <article
    class='mx-auto mb-16 flex w-full max-w-2xl flex-col items-start justify-center'
  >
    <h2 class='text-base font-semibold uppercase tracking-wide'>Mis /Uses</h2>
    <h3
      class='mb-8 mt-2 text-3xl font-extrabold leading-8 tracking-tight sm:text-4xl'
    >
      Mi espacio de trabajo
    </h3>
    <div
      class:list={[
        'w-full',
        'prose dark:prose-invert',
        'prose-p:text-pretty prose-p:text-sm prose-p:text-muted-foreground',
        'prose-li:text-muted-foreground prose-li:text-md'
      ]}
    >
      <slot />
    </div>
  </article>
</Layout>
